@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text&display=swap');

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body{
  background-color: lightcyan;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'WindSong', cursive;
  min-height: 100vh;
  flex-direction: column;
}

.income-expense{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  padding: 20px;
  margin: 20px 0;
  box-shadow:  0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

h1{
  letter-spacing: 1px;
  margin: 0;
}
h3{
  letter-spacing: 1px;
  margin: 0;
  padding-bottom: 10px;
  border-bottom: 1px solid #bbb;
  margin: 40px 0 10px;
}
.plus {
  color: #2ecc71;
}

.minus {
  color: #c0392b;
}

.income-expense div{
  flex: 1;
  text-align: center
}

.list{
  list-style-type: none;
  padding: 0;
  margin-bottom: 40px;
}
.list li{
  background-color: #fff;
  box-shadow:  0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin: 10px 0;
  position: relative;
}

label{
  display: inline-block;
  margin: 10px 0;
}

input[type="text"], input[type="number"]{
  border: 1px solid #dedede;
  width: 100%;
  border-radius: 2px;
  font-size: 16px;
  padding: 10px;
}

.btn{
  background-color: crimson;
  border: none;
  width: 100%;
  padding: 10px;
  margin:10px 0 30px;
  cursor: pointer;
  color:white;
  font-size: 16px;
  display: block;
  box-shadow:  0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.delete-btn{
  cursor: pointer;
  background-color: crimson;
  color: #fff;
  border: 0;
  font-size: 20px;
  line-height: 20px;
  position: absolute;
  top: 50%;
  left:0;
  padding: 2px 5px;
  transform: translate(-100%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;
}


.list li:hover .delete-btn{
  opacity: 1;
}
